* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.basket {
    width: 100%;
    height: auto;
    padding: 50px 10%;
}
.basket_top {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.basket_title {
    font-weight: 600;
    font-size: 1.8vw;
    display: flex;
    align-items: center;
}
.basket_info {
    font-weight: 600;
    font-size: 1vw;
    color: #70737c;
}
.left_arrow {
    width: 45px;
    height: 30px;
    border: 1px solid #504C49;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
    margin-right: 40px;
    transition: .3s;
}
.left_arrow:hover {
    border: none;
}
.basket_body {
    width: 100%;
    height: auto;
    margin-top: 25px;  
    display: flex;
    justify-content: space-between; 
}
.basket_left::-webkit-scrollbar {
    width: 10px;
}
.basket_left::-webkit-scrollbar-track {
    background-color: #fff;
}
.basket_left::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #fff;
}
.basket_left {
    width: thin;
}
.basket_left {
    width: 60%;
    border-top: 1px solid #EFEFEF;
    padding: 0 10px;
    padding-top: 30px;
    height: 450px;
    overflow-y: scroll;
}
.basket_texts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
}
.basket_texts div {
    width: 50%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.basket_text {
    font-weight: 400;
    font-size: 14px;
    color: #70737C;
}
.basket_card {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 20px;
}
.basket_card:last-child {
    border-bottom: none;
}
.basket_box {
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket_img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}
.basket_box1 {
    position: relative;
}
.card_close {
    width: 20px;
    height: 20px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #FF6875;
    border-radius: 50%;
    position: absolute;
    top: -8px; left: -5px;
    z-index: 10;
    cursor: pointer;
}
.basket_box2 {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket_counter {
    width: 110px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #EFEFEF;
    border-radius: 11px;
}
.counter_plus {
    display: inline-block;
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #359740;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
.counter_minus {
    display: inline-block;
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #359740;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
.counter_minus:hover,
.counter_plus:hover {
    width: 32px;
    height: 32px;
    background: #FF6875;
    border-radius: 6px;
    color: #fff;
}
.counter_count {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: rgba(53, 151, 64, 0.08);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #359740;
    font-weight: 500;
}
.basket_sum {
    font-weight: 700;
    color: #1f2533;
}
.basket_right {
    width: 25%;
    height: 450px;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 12px rgba(207, 207, 207, 0.25);
    border-radius: 12px;
    padding: 25px;
}
.basket_title2 {
    font-weight: 700;
    font-size: 18px;
    color: #1F2533;
}
.basket_box4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket_punkta {
    color: #70737c;
    font-weight: 500;
    font-size: 14px;
}
.basket_price {
    font-weight: 700;
    color: #1F2533;
}
.basket_box5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.basket_product,
.basket_skidka,
.basket_summa {
    font-weight: 500;
    font-size: 16px;
    color: #4e4e4e;
}
.basket_product2,
.basket_skidka,
.basket_summa2 {
    font-weight: 500;
    font-size: 16px;
    color: #4e4e4e;
}
.basket_box6,
.basket_box7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.basket_text2 {
    font-weight: 500;
    font-size: 16px;
    color: #70737C;
}
.basket_price2 {
    font-weight: 700;
    font-size: 16px;
    color: #1f2533;
}
.basket_box8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #EFEFEF;
    margin-top: 70px;
}
.basket_btn {
    width: 100%;
    height: 50px;
    background: #359740;
    border-radius: 8px;
    border: 1px solid #359740;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-top: 28px;
    transition: .2s;
}
.basket_btn:hover {
    color: #359740;
    background-color: #fff;
}


@media (max-width: 991px) {
    .basket_body {
        display: grid;
        grid-template-columns: auto;
    }
    .basket_left {
        width: 100%;
    }
}