* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid #F0F0F0;
}
.top_body {
    width: 22%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tel_box {
    display: flex;
}
.tel_text {
    font-weight: 500;
    font-size: 14px;
    color: #1D1D1D;
    cursor: pointer;
    transition: .3s;
}
.tel_text:hover {
    color: #FF6875;
}
.tel_icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
}
.location_box {
    width: 50%;
    display: flex;
    align-items: center;
}
.location_text {
    font-weight: 500;
    font-size: 14px;  
    cursor: pointer;
    color: #1d1d1d;  
    transition: .3s;
}
.location_text:hover {
    color: #FF6875;
}
.location_icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
}
.nav {
    width: 100%;
    height: auto;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.nav_logo {
    width: 150px;
    height: 48px;
    background-color: #8d909b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.nav_middle {
    display: flex;
    align-items: center;
}
.nav_каталог {
    width: 127px;
    height: 48px;
    background-color: #FF6875;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}
.nav_каталог:hover {
    border: 1px solid #FF6875;
    background-color: #fff;
}
.nav_каталог:hover .nav_каталог_text {
    color: #FF6875;
}
.nav_каталог:hover .nav_каталог_icon {
    color: #FF6875; 
}
.nav_каталог_text {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.nav_каталог_icon {
    font-size: 26px;
    color: #fff;
    margin-right: 5px;
}
.nav_search {
    width: 586px;
    height: 48px;
    position: relative;
    border-radius: 8px;
}
.search_inp {
    width: 100%;
    height: 100%;
    border: 1px solid #1D1D1D;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    color: #8d909b;
    padding: 0 20px;
    border-radius: 8px;
    margin-left: 30px;
    transition: .3s;
}
.search_inp:focus {
    border: 1px solid #FF6875;
}
.search_inp:focus .nav_search {
    border: none;
}
.search_icon {
    font-size: 25px;
    color: #1d1d1d;
    position: absolute;
    top: 50%; right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}
.nav_right {
    display: flex;
}
.nav_cart {
    display: flex;
    margin-left: 50px;
    cursor: pointer;
}
.nav_cart:hover .cart_text{
    color: #FF6875;
}
.cart_text {
    font-weight: 400;   
    font-size: 14px;
    color: #1d1d1d;
    margin-left: 5px;
    transition: .3s;
}
.cart_icon {
    color: #1d1d1d;
    font-size: 20px;
    transition: .3s;
}

@media (max-width: 991px) {
    .nav_search {
        width: 50vw;
    }
    .search_inp {
        width: 100%;
        margin: 0;
        margin: 0 20px;
    }
    .top_body {
        width: 100%;    
        padding: 0 2%;
    }
    .nav_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .nav_middle {
        width: 100%;
        flex-direction: column;
    }
    .nav_search {
        width: 100%;
        margin-top: 30px;
    }
    .search_inp {
        width: 100%;
        margin: 0;
    }
    .nav_каталог {
        position: absolute;
        top: 20px; right: 5%;
    }
    .nav_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav_cart {
        margin: 0;
    }
}